<script src='https://www.google.com/recaptcha/api.js' async defer></script>

<form
    class='row x-gap-32 y-gap-32 js-ajax-form'
    method='POST'
    action='/contact/send'
    data-message-success='Votre message à été envoyé, nous vous répondrons dans les plus brefs délais.'
    data-message-error="Un problème est survenu. Veuillez nous contacter directement à <a href='mailto:contact@devolution.studio'>contact@devolution.studio</a>."
>
    <div class='col-12'>
        <label class='js-input-group'>
            Nom / Prénom
            <input
                type='text'
                name='name'
                value='{{{name}}}'
                data-required
                placeholder='Votre nom / prénom'
            />
            <span class='form__error'></span>
        </label>
    </div>

    <div class='col-12'>
        <label class='js-input-group'>
            Email
            <input
                type='text'
                value='{{{email}}}'
                name='email'
                data-required
                placeholder='Votre email'
            />
            <span class='form__error'></span>
        </label>
    </div>

    <div class='col-12'>
        <label class='js-input-group'>
            Message
            <textarea
                name='message'
                rows='3'
                id='contactFormMessage'
                placeholder='Votre message'
            >{{{message}}}</textarea>
            <span class='form__error'></span>
        </label>
    </div>

    <div class='col-12'>
        <label class='js-input-group'>
            Êtes-vous un robot ?
            <div
                class='g-recaptcha'
                style='margin-top: 1rem; margin-bottom: 0.5rem;'
                data-sitekey='{{{recaptchaKey}}}'
            ></div>
            <small>
                Beep beep bop ?
            </small>
            <span class='form__error'></span>
        </label>
    </div>

    <div class='col-12 ajax-form-alert js-ajax-form-alert'>
        <div class='ajax-form-alert__content'></div>
    </div>

    <div class='col-12'>
        <button type='submit' class='button -md -black text-white'>
            Envoyer
        </button>
    </div>
</form>