{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "singleQuote": true,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "./views/**/*.handlebars",
            "options": {
                "printWidth": 140,
                "parser": "glimmer"
            }
        }
    ]
}
