<!-- section start -->
<section class='layout-pt-xl layout-pb-sm'>
    <!-- container start -->
    <div data-anim-wrap class='container'>
        <!-- row start -->
        <div class='row justify-content-center'>
            <div class='col-xl-9'>
                <div
                    data-anim-child='slide-up delay-1'
                    class='sectionHeading -md'
                >
                    <h1 class='sectionHeading__title'>
                        Conditions générales de ventes
                    </h1>
                </div>
            </div>
        </div>
        <!-- row end -->

        <!-- row start -->
        <div
            data-anim-child='slide-up delay-1'
            class='row justify-content-center layout-pt-sm page-cgv'
        >
            <div class='col-xl-9'>
                <p>
                    Dernière mise à jour des conditions : {{{date}}}
                </p>

                <div class='blogPost -single -light'>
                    <div class='blogPost__content'>
                        <hr class='mt-48' />

                        <h2>
                            Services de prestation
                        </h2>
                        <h3>
                            Rédaction de cahier des charges
                        </h3>
                        <p>
                            La réalisation d'un cahier des charges est une étape
                            importante dans le processus de tout projet car elle permet
                            d'évaluer avec précision le temps de travail nécessaire
                            à sa mise en place.
                        </p>
                        <p>
                            En fonction de l'ampleur de votre projet, la
                            réalisation d'un cahier des charges peut être requise
                            pour établir un devis adapté à vos besoins.
                        </p>
                        <p>
                            Nous nous engageons à vous accompagner dans cette démarche
                            en vous fournissant une prestation de qualité, qui répondra
                            à vos attentes et à vos exigences en matière de rédaction de
                            spécifications techniques et fonctionnelles.
                        </p>
                        <h3>
                            Ingénierie logicielle
                        </h3>
                        <p>
                            Cette prestation s’invite dans l’idée de réflexion avec le
                            client d’une solution technique pour un problème donné.
                        </p>
                        <p>
                            Devolution Studio s'engage à vous fournir un conseil
                    professionnel et éthique en toute transparence.
                        </p>
                        <p>
                            Si votre besoin peut être résolu par un logiciel tiers, nous
                    nous engageons à vous le signaler et à vous aider pour le
                    mettre en place, plutôt que de vous proposer de créer un
                    logiciel spécifique.
                        </p>
                        <p>
                            Cette approche s'inscrit dans l’obligation de conseil
                    envers le clients, qui est au coeur de notre engagement
                    envers la qualité et la satisfaction de nos prestations.
                        </p>
                        <h3>
                            Conseils
                        </h3>
                        <p>
                            Devolution Studio propose également une prestation de
                    conseil pour vous aider à prendre les bonnes décisions en
                    matière de développement de logiciels.
                        </p>
                        <p>
                            Notre but est de vous offrir des conseils adaptés à vos
                    besoins spécifiques. Que vous cherchiez à améliorer la
                    qualité de votre code, à optimiser les performances de votre
                    application, à concevoir une architecture solide, ou à
                    choisir les technologies les plus appropriées pour votre
                    projet, je suis là pour vous accompagner.
                        </p>
                        <p>
                            Devolution s'engage à fournir des conseils clairs,
                    pertinents et personnalisés, en prenant en compte vos
                    objectifs, vos contraintes et votre budget. Nous restons à
                    votre disposition pour répondre à toutes vos questions, vous
                    aider à comprendre les enjeux du développement logiciel, et
                    vous guider dans vos choix.
                        </p>
                        <p>
                            En faisant appel à nos services de conseil en tant que
                    concepteur développeur, vous bénéficierez d'un
                    accompagnement sur mesure, adapté à vos besoins et à votre
                    contexte, pour vous permettre de prendre des décisions
                    éclairées et de mener à bien votre projet avec succès.
                        </p>
                        <h3>
                            Développement
                        </h3>
                        <p>
                            Notre service de prestation de développement web sur mesure
                    est conçu pour répondre à vos besoins les plus spécifiques
                    et les plus complexes en matière de développement de sites
                    web. Nous vous proposons une prestation personnalisée, qui
                    s'adapte à vos besoins et à vos exigences en matière de
                    fonctionnalités, de design et de règles métier.
                        </p>
                        <p>
                            Devolution Studio travaillent en étroite collaboration avec
                    vous pour comprendre :
                        </p>
                        <ul>
                            <li>
                                Votre visions
                            </li>
                            <li>
                                Votre métier
                            </li>
                            <li>
                                Vos problème
                            </li>
                            <li>
                                Vos objectifs
                            </li>
                            <li>
                                Vos besoins
                            </li>
                        </ul>
                        <p>
                            Nos prestation inclue le développement de la solution
                    technique une fois celle-ci définie. Le développement
                    s’accompagne d’un certain nombre de garanties :
                        </p>
                        <h3>
                            Propriété
                        </h3>
                        <p>
                            Tous les travaux de développement que nous réalisons pour
                    vous sont considérés comme des œuvres de création
                    intellectuelle et sont protégés par la loi. Conformément aux
                    dispositions légales en vigueur, vous serez considéré comme
                    le propriétaire exclusif de toutes les créations
                    intellectuelles produites pour vous, y compris le code
                    source développé par nos soins.
                        </p>
                        <p>
                            Nous nous engageons à ne pas divulguer ni à utiliser le code
                    source développé pour vous à des fins autres que celles
                    convenues entre nous.
                        </p>
                        <h3>
                            Qualité du code
                        </h3>
                        <p>
                            Nous accordons une grande importance à la qualité du code
                    que nous développons pour vous. Nous utilisons des méthodes
                    de développement éprouvées pour garantir la qualité, la
                    stabilité et la sécurité de vos applications web.
                        </p>
                        <p>
                            Nous sommes conscients que la qualité du code est
                    essentielle pour assurer la pérennité et l'efficacité
                    de vos projets. C'est pourquoi nous nous engageons à
                    développer du code de qualité, documenté, maintenable et
                    évolutif au possible.
                        </p>
                        <h3>
                            Technologies
                        </h3>
                        <p>
                            Notre prestation de développement web sur mesure
                    s'appuie sur des technologies récentes pour vous offrir
                    des solutions de qualité optimale. Nous mettons à votre
                    disposition notre expertise dans l'utilisation des
                    technologies les plus performantes pour répondre à vos
                    besoins.
                        </p>
                        <p>
                            Chaque utilisation de technologies dépend du projet,
                    cependant nos domaines de prédilection se trouve autour de
                    ces technologies et langages :
                        </p>
                        <ul>
                            <li>
                                HTML5 / CSS3 / SCSS
                            </li>
                            <li>
                                Framework front JS (VueJS, NuxtJS, Angular, etc…)
                            </li>
                            <li>
                                Framework back-end JS ou C# (ExpressJS, AdonisJS, ABP,
                        etc…)
                            </li>
                            <li>
                                Bases de données MySQL
                            </li>
                            <li>
                                Systèmes Linux
                            </li>
                        </ul>

                        <p>
                            Nous sommes attentifs à l'évolution du marché et nous
                    formons en continu pour rester à la pointe des technologies
                    émergentes. Nous sommes ainsi en mesure de vous proposer des
                    solutions innovantes et adaptées à vos besoins spécifiques.
                        </p>
                        <p>
                            Notre approche est centrée sur la satisfaction de nos
                    clients et nous faisons tout notre possible pour vous
                    proposer des solutions qui répondent à vos besoins et qui
                    intègrent les dernières innovations technologiques.
                        </p>
                        <h2>
                            Tarifs
                        </h2>

                        <p>
                            <strong>
                                Notre tarif standard est de 300€ par jour
                            </strong>
                            ,
                    toutes charges comprise mais hors charges éventuelles du
                    projet.
                        </p>
                        <p>
                            Cependant, en fonction de la complexité, de la sensibilité
                    ou du risque du projet, ce tarif peut varier et être
                    augmenté de maximum 30% du prix au jour. Ceci est convenu
                    avec le client et est détaillé dans le devis.
                        </p>
                        <p>
                            Nous nous engageons à vous fournir un devis détaillé avant
                    de débuter les travaux, incluant les éléments précisant les
                    modalités de paiement. Le tarif final sera calculé en
                    fonction du temps passé à travailler sur le projet, à partir
                    de notre taux horaire standard.
                        </p>
                        <p>
                            Nous nous réservons le droit de réévaluer le tarif si le
                    projet change en cours de route, et nous vous fournirons une
                    nouvelle estimation en cas d’augmentation significative du
                    temps de travail nécessaire.
                        </p>
                        <p>
                            Si vous avez des questions concernant notre tarification,
                    n’hésitez pas à nous contacter pour plus d’informations.
                        </p>
                        <h3>
                            Tarification au forfait
                        </h3>
                        <p>
                            Notre prestation est proposée au forfait, sur la base
                    d'une estimation du temps de travail nécessaire pour
                    mener à bien le projet.
                        </p>
                        <p>
                            Cependant, nous comprenons que des ajustements puissent être
                    nécessaires au cours du développement. Nous acceptons donc
                    des modifications mineurs apportées aux éléments spécifiés
                    dans le cahier des charges initial, après signature de notre
                    proposition commerciale.
                        </p>
                        <p>
                            Nous nous réservons cependant le droit de refuser certaines
                    modifications qui pourraient remettre en cause l’ingénierie
                    technique ou l'ensemble du projet.
                        </p>
                        <p>
                            Toutefois, nous nous engageons à informer notre client de
                    notre décision dans les meilleurs délais.
                        </p>
                        <h3>
                            Tarification au temps
                        </h3>
                        <p>
                            Dans le cadre de certaines prestations, la tarification à
                    l'heure peut être plus adaptée que la tarification au
                    forfait. Dans ce cas, les prestations sont facturées en
                    fonction du nombre d'heures réellement effectuées.
                        </p>
                        <p>
                            Les heures effectuées sont consignées dans un document de
                    suivi qui sera joint à la facture. Les prestations seront
                    facturées mensuellement ou à l'achèvement de la
                    prestation.
                        </p>
                        <p>
                            Si des modifications ou des ajustements sont demandés par le
                    client, le temps supplémentaire nécessaire sera facturé en
                    plus du temps initial prévu.
                        </p>
                        <p>
                            Il est également important de souligner que le tarif horaire
                    ne comprend pas les frais annexes tels que les frais de
                    déplacement, les frais de documentation, les frais de
                    logiciels, les frais d'hébergement, les frais de
                    serveur, etc. Ces frais seront facturés en supplément sur
                    présentation de justificatifs.
                        </p>
                        <p>
                            La tarification à l'heure est une solution souple qui
                    permet une grande flexibilité dans la gestion des projets.
                    Elle permet de s'adapter aux besoins réels du client et
                    de facturer uniquement le temps de travail effectué.
                        </p>
                        <h2>
                            Modalités de paiement
                        </h2>

                        <p>
                            Le paiement s'effectue par virement bancaire ou par
                    chèque, à l'ordre de Devolution Studio, dont les
                    coordonnées bancaires vous seront communiquées lors de la
                    signature du contrat.
                        </p>
                        <p>
                            Pour toute prestation supérieur à 1000€, un acompte de 30%
                    du montant total est exigé avant le début des travaux. Le
                    solde sera facturé à la fin de la prestation.
                        </p>
                        <p>
                            En cas d'annulation de la commande par le client,
                    l'acompte versé ne sera pas remboursé.
                        </p>
                        <p>
                            En cas de litige, les parties s'engagent à trouver une
                    solution à l'amiable. À défaut, le litige sera soumis
                    aux tribunaux compétents.
                        </p>
                        <p>
                            En cas de non-paiement de la facture dans un délai de 35
                    jours après la date d'échéance, une mise en demeure
                    sera adressée au client. Si le paiement n'est toujours
                    pas effectué dans un délai de 50 jours après la mise en
                    demeure, des frais de recouvrement pourront être facturés au
                    client, conformément aux dispositions légales en vigueur.
                        </p>
                        <p>
                            En cas de défaut de paiement total ou partiel des services
                    livrées à l'échéance, l'acheteur devra verser à la
                    société Devolution Studio une pénalité de retard égale à
                    trois fois le taux de l'intérêt légal.
                        </p>
                        <p>
                            Le taux de l'intérêt légal retenu est celui en vigueur
                    au jour de la fin de la prestation.
                        </p>
                        <p>
                            Cette pénalité est calculée sur le montant TTC de la somme
                    restant due, et court à compter de la date d'échéance
                    du prix sans qu'aucune mise en demeure préalable ne
                    soit nécessaire.
                        </p>
                        <p>
                            En sus des indemnités de retard, toute somme, y compris
                    l’acompte, non payée à sa date d’exigibilité produira de
                    plein droit le paiement d’une indemnité forfaitaire de 40
                    euros due au titre des frais de recouvrement.
                        </p>
                        <blockquote>
                            <em>
                                Articles 441-10 et D. 441-5 du code de commerce.
                            </em>
                        </blockquote>
                        <h2>
                            Garantie légale de conformité et des vices cachés
                        </h2>

                        <p>
                            Devolution Studio, dont le siège social est situé au 97
                    avenue Pasteur, Angers 49100, garantit la conformité des
                    biens vendus et s'engage à remédier à tout défaut de
                    conformité existant lors de la délivrance des biens, dans
                    les conditions et les délais prévus par la loi.
                        </p>
                        <p>
                            Devolution Studio est également tenue de la garantie légale
                    des vices cachés, au titre de laquelle elle est tenue de
                    garantir les défauts cachés des produits vendus qui les
                    rendent impropres à leur utilisation ou qui en diminuent
                    tellement l'usage que l'acheteur ne les aurait pas
                    acquis, ou n'en aurait donné qu'un moindre prix,
                    s'il les avait connus.
                        </p>
                        <p>
                            Vous pouvez contacter Devolution Studio aux coordonnées
                    suivantes pour demander la mise en place des garanties
                    légales :
                        </p>
                        <ul>
                            <li>
                                Adresse postale : 97 avenue Pasteur, Angers 49100
                            </li>
                            <li>
                                Adresse électronique : contact@devolution.studio
                            </li>
                            <li>
                                Numéro de téléphone : 06 58 72 52 05
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- section end -->