<section class="layout-pt-xl layout-pb-sm">
    <div data-anim-wrap class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9">
                <div data-anim-child="slide-up delay-1" class="sectionHeading -md">
                    <h1 class="sectionHeading__title">
                        Rétractation
                    </h1>
                </div>
            </div>
        </div>

        <div data-anim-child="slide-up delay-1" class="row justify-content-center layout-pt-sm page-cgv">
            <div class="col-xl-9">

                <div class="blogPost -single -light">
                    <div class="blogPost__content">
                        <hr class="mt-48" />
                        <h2>Mentions légales</h2>
                        <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il
                            est précisé aux utilisateurs du site Devolution Studio l'identité des différents intervenants dans le cadre de
                            sa réalisation et de son suivi.</p>

                        <h3>Edition du site </h3>
                        <p>
                            Le présent site, accessible à l’URL devolution.studio (le « Site »), est édité par :<br />
                            Téo Conan, résidant 97 avenue Pasteur 49100 Angers, de nationalité Française (France)
                        </p>

                        <h3>Hébergement</h3>
                        <p>Le Site est hébergé par la société OVH SAS, situé 2 rue Kellermann - BP 80157 - 59053 Roubaix Cedex 1, (contact
                            téléphonique ou email : 1007).</p>

                        <h3>Directeur de publication </h3>
                        <p>Le Directeur de la publication du Site est Téo Conan.</p>

                        <h3>Nous contacter </h3>
                        <p>
                            Par téléphone : +33658725205 Par email : contact@devolution.studio Par courrier : 97 avenue Pasteur 49100 Angers
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>