<!-- section start -->
<section class='layout-pt-xl layout-pb-md'>
    <!-- container start -->
    <div data-anim-wrap class='container'>
        <!-- row start -->
        <div class='row justify-content-center text-center'>
            <div class='col-xl-7 col-lg-9'>
                <div data-anim-child='slide-up' class='sectionHeading -lg'>
                    <h1 class='sectionHeading__title'>
                        Nos tarifs
                    </h1>
                </div>
            </div>
        </div>
        <!-- row end -->

        <!-- row start -->
        <div class='row x-gap-40 y-gap-40 layout-pt-md'>
            <div class='col-lg-4 col-md-6'>
                <div
                    data-anim-child='slide-up delay-2'
                    class='priceCard py-40 px-40 rounded-base shadow-light'
                >
                    <div class='priceCard__content'>
                        <h3 class='priceCard__title text-2xl fw-500'>
                            Plan rapide
                        </h3>

                        <h3
                            class='priceCard__price number -md text-black fw-600 mt-24'
                        >
                            35 €
                        </h3>

                        <p class='priceCard__badge text-sm fw-500 mt-32'>
                            Heures
                        </p>

                        <p class='text-black fw-500 mt-24'>
                            Un plan idéal pour les projets de très petite envergure ou pour les tâches ponctuelles.
                        </p>

                        <ul class='priceCard__list mt-24'>
                            <li>
                                <p>
                                    Conseil et audit de projet.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Conception d'un cahier des charges sans développement.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Exécution de tâches préparées en amont.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Petites interventions ponctuelles.
                                </p>
                            </li>
                        </ul>

                        <div class='priceCard__button mt-32'>
                            <a
                                href='#'
                                class='button -sm -outline-black text-black'
                            >
                                C'est parti !
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col-lg-4 col-md-6'>
                <div
                    data-anim-child='slide-up delay-3'
                    class='priceCard py-40 px-40 rounded-base shadow-light bg-dark-1'
                >
                    <div class='priceCard__content'>
                        <h3 class='priceCard__title text-2xl fw-500 text-white'>
                            Plan classique
                        </h3>

                        <h3
                            class='priceCard__price number -md text-white fw-600 mt-24'
                        >
                            300 €
                        </h3>

                        <p
                            class='priceCard__badge -light text-white text-sm fw-500 mt-32'
                        >
                            Journalier
                        </p>

                        <p class='text-white fw-500 mt-24'>
                            Un choix parfait pour les projets de développement web de taille moyenne qui requièrent des solutions de qualité.
                        </p>

                        <ul class='priceCard__list mt-24'>
                            <li>
                                <p class='text-light'>
                                    Conception d'un cahier des charges complet.
                                </p>
                            </li>
                            <li>
                                <p class='text-light'>
                                    Développement sur mesure.
                                </p>
                            </li>
                            <li>
                                <p class='text-light'>
                                    Recherche de solutions technique.
                                </p>
                            </li>
                            <li>
                                <p class='text-light'>
                                    Formations aux technologies.
                                </p>
                            </li>
                        </ul>

                        <div class='priceCard__button mt-32'>
                            <a
                                href='#'
                                class='button -sm -outline-white text-white'
                            >
                                C'est parti !
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col-lg-4 col-md-6'>
                <div
                    data-anim-child='slide-up delay-4'
                    class='priceCard py-40 px-40 rounded-base shadow-light'
                >
                    <div class='priceCard__content'>
                        <h3 class='priceCard__title text-2xl fw-500'>
                            Plan confiance
                        </h3>

                        <h3
                            class='priceCard__price number -md text-black fw-600 mt-24'
                        >
                            5 000 €
                        </h3>

                        <p class='priceCard__badge text-sm fw-500 mt-32'>
                            Mensuel
                        </p>

                        <p class='text-black fw-500 mt-24'>
                            Bénéficiez d'un accompagnement personnalisé, suivie et approfondie dans vos projets.
                        </p>

                        <ul class='priceCard__list mt-24'>
                            <li>
                                <p>
                                    150 heures de travail.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Réduction de 10% du taux horaire.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Suivi de projet approfondi et avancé.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Formations complètes au monde du web.
                                </p>
                            </li>
                        </ul>

                        <div class='priceCard__button mt-32'>
                            <a
                                href='#'
                                class='button -sm -outline-black text-black'
                            >
                                C'est parti !
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- section end -->

<!-- section start -->
<section class='layout-pt-md layout-pb-lg'>
    <!-- container start -->
    <div class='container'>
        <!-- row start -->
        <div class='row justify-content-between'>
            <div class='col-xl-4 col-lg-5 col-md-7'>
                <div class='sectionHeading -md'>
                    <p class='sectionHeading__subtitle'>
                        Nous contacter
                    </p>

                    <h2 class='sectionHeading__title'>
                        À votre disposition.
                    </h2>

                    <p class='text-base mt-24'>
                        Toujours à votre écoute pour vous accompagner dans la réalisation de vos ambitions.
                        <br />
                        N'attendez plus pour réaliser vos projets !
                    </p>

                    <div class='social -bordered mt-32'>
                        <a class='social__item border-dark text-black' href='#'>
                            <i class='fa fa-twitter'></i>
                        </a>
                        <a class='social__item border-dark text-black' href='#'>
                            <i class='fa fa-instagram'></i>
                        </a>
                        <a class='social__item border-dark text-black' href='#'>
                            <i class='fa fa-youtube-play'></i>
                        </a>
                        <a class='social__item border-dark text-black' href='#'>
                            <i class='fa fa-linkedin'></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class='col-xl-7 col-lg-6 md:mt-64'>
                <div class='contact-form -type-1'>
                    {{> contact-form}}
                </div>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- section end -->
