<section class='layout-pt-xl layout-pb-sm'>
    <div data-anim-wrap class='container'>
        <div class='row justify-content-center'>
            <div class='col-xl-9'>
                <div
                    data-anim-child='slide-up delay-1'
                    class='sectionHeading -md'
                >
                    <h1 class='sectionHeading__title'>
                        Rétractation
                    </h1>
                </div>
            </div>
        </div>

        <div
            data-anim-child='slide-up delay-1'
            class='row justify-content-center layout-pt-sm page-cgv'
        >
            <div class='col-xl-9'>

                <div class='blogPost -single -light'>
                    <div class='blogPost__content'>
                        <hr class='mt-48' />

                        <h2>
                            Introduction
                        </h2>
                        
                        <p>Conformément à la réglementation en vigueur en matière de vente à distance, vous disposez d'un droit de rétractation de 14 jours vous permettant d'annuler votre achat sans avoir à vous justifier.</p>
                        <p>Ce formulaire a pour objectif de vous permettre d'exercer votre droit de rétractation dans les meilleures conditions.</p>
                        <p>Il doit être utilisé si vous souhaitez annuler votre commande passée auprès de Devolution Studio.</p>
                        <p>Nous vous rappelons que ce droit de rétractation est soumis à des conditions particulières, que nous vous invitons à consulter dans nos conditions générales de vente.</p>
                        <p>Pour toute question relative à l'exercice de votre droit de rétractation, nous sommes à votre disposition.</p>
                        <p>Veuillez trouver ci-dessous le formulaire de rétractation que vous pouvez utiliser pour nous notifier votre décision.</p>
                        <p>Ce formulaire est à envoyer en recommandé avec accusé de réception à l’adresse du 97 avenue Pasteur et sera traité dans les plus brefs délais.</p>

                        <h2>
                            Modèle
                        </h2>

                        <p>Votre prénom et nom</p>

                        <p>Votre adresse</p>

                        <p>Code postal - Ville</p>

                        <p>Destinataire : Téo Conan</p>

                        <p>97 Avenue Pasteur</p>

                        <p>49100 - Angers</p>

                        <p>À ..., le ... (date de la lettre)</p>

                        <p>Madame, Monsieur,</p>

                        <p>Le ... (indiquez la date figurant sur le bon de commande), j'ai commandé mon projet ... (nom du projet) le ... (date).</p>

                        <p>Conformément à l'article L. 221-18 du code de la consommation, j'exerce mon droit de rétractation.</p>

                        <p>En conséquence, je vous prie de bien vouloir me restituer au plus vite et au plus tard dans les 14 jours suivant la réception de la présente, la somme de ... euros que je vous ai versée lors de ma commande, ceci conformément aux dispositions de l'article L. 221-24 du code de la consommation.</p>

                        <p>Veuillez trouver ci-joint (indiquez l'objet retourné) que je vous retourne.</p>

                        <p><i>*Vous pouvez éventuellement ajouter :*</i></p>

                        <p>À défaut, je me verrais contraint(e) d'engager des poursuites pénales contre votre société.</p>

                        <p>Je vous prie de croire, Madame, Monsieur, à l'expression de mes sentiments distingués.</p>

                        <p>Signature</p>

                        <h2>
                            Conditions de rétractation
                        </h2>

                        <p>Votre droit de rétractation ne pourra cependant pas être pris en compte si le code source de votre projet vous a déjà été partagé ou que vous y avez eu accès d'une quelconque manière.</p>
                        <p>Votre retractation implique l'arrêt du projet sur le(s) serveur(s) de production(s) et des autres projets de recette associé.</p>
                        <p>L'acompte versé préalablement ne fera pas partie de la somme remboursée.</p>
                </div>
            </div>
        </div>
    </div>
</section>