<!-- footer start -->
<footer class='footer -type-1 bg-dark-1'>
    <!-- container start -->
    <div class='container'>
        <div class='footer__top'>
            <!-- row start -->
            <div class='row y-gap-48 justify-content-between'>
                <div class='col-lg-auto col-sm-12'>
                    <a href='home-1.html' class='footer__logo text-white'>
                        Devolution Studio.
                    </a>
                    <p class='mt-16'>
                        Devolution Studio EIRL © Tous droits réservés
                    </p>
                </div>

                <div class='col-lg-3 col-sm-6'>
                    <h4 class='text-xl fw-500 text-white'>
                        Informations
                    </h4>

                    <div
                        class='footer__content text-base text-light mt-16 sm:mt-12'
                    >
                        <p>
                            Devolution Studio Angers, France
                        </p>
                        <p class='mt-8'>
                            <a href='mailto:contact@devolution.studio'>
                                contact@devolution.studio
                            </a>
                        </p>
                    </div>
                </div>

                <div class='col-lg-auto col-sm-4'>
                    <h4 class='text-xl fw-500 text-white'>
                        Liens
                    </h4>

                    <div
                        class='footer__content text-base text-light mt-16 sm:mt-12'
                    >
                        <div>
                            <a
                                data-barba
                                href='https://teoconan.fr'
                                class='button -underline'
                            >
                                Web CV
                            </a>
                        </div>
                        <div>
                            <a data-barba href='' class='button -underline'>
                                Societe.fr
                            </a>
                        </div>
                    </div>
                </div>

                <div class='col-lg-auto col-auto'>
                    <h4 class='text-xl fw-500 text-white'>
                        Réseaux sociaux
                    </h4>

                    <div class='social -bordered mt-16 sm:mt-12'>
                        <a
                            class='social__item text-white border-light'
                            target='_blank'
                            href='https://www.instagram.com/teo.sansh/'
                        >
                            <i class='fa fa-instagram'></i>
                        </a>
                        <a
                            class='social__item text-white border-light'
                            target='_blank'
                            href='https://www.linkedin.com/in/teo-conan/'
                        >
                            <i class='fa fa-linkedin'></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- row end -->
        </div>

        <div class='footer__bottom -light'>
            <!-- row start -->
            <div class='row'>
                <div class='col'>
                    <div class='footer__copyright'>
                        <p class='text-light'>
                            {{{year}}}, Devolution Studio.
                        </p>
                    </div>
                </div>
            </div>
            <!-- row end -->
        </div>
    </div>
    <!-- container end -->
</footer>
<!-- footer end -->